.navbar{
    height: 50px;
    background-color: rgb(21, 21, 109);
    display: flex;
    justify-content: center;
    margin: -8px -8px -8px -8px;

}
.navContainer{
    width: 100%;
    max-width: 1024px;
    /* background-color: red; */
    color: whitesmoke;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500px;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(21, 21, 109);
}